In [12]:
import numpy as np
import pandas as pd
import string
import re

import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [100]:
def remove_punch(text):
    x = str(text)
    for p in string.punctuation:
        x = x.replace(p,'')
    return x

def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)

def lower_tokens(tokens):
    return  [w.lower() for w in tokens]

def remove_stopwords(tokens):
    filtered_words = [word for word in tokens if word not in stopwords]
    return filtered_words

def remove_names(text):
    for word in text.split():
        if word[0] == "@":
            text = text.replace(word, "")
    return text

def remove_url(text):
    result = re.sub(r"http\S+", "", text)
    result = re.sub(r"https\S+", "", text)
    return result


def decode_unicode(text):
    text = text.decode('utf-8')
    return text

In [105]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [117]:
df = pd.read_csv('en_Hasoc2021_train.csv')

In [118]:
df['text_clean'] = df['text'].apply(lambda text:remove_names(text))
df['text_clean'] = df['text_clean'].apply(lambda text:remove_url(text))

In [119]:
df['text_clean'] = df['text_clean'].apply(lambda text:remove_punch(text))
df['text_clean'] = df['text_clean'].apply(lambda text:deEmojify(text))

In [120]:
tokens = [word_tokenize(tweet) for tweet in df['text_clean']]
lower = [lower_tokens(token) for token in tokens]

In [121]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [122]:
df['text_clean'] = [' '.join(tweet) for tweet in lower]

In [125]:
df.head()

   Unnamed: 0  ...                                         text_clean
0        4986  ...  if you made it through this ampamp were not on...
1        3394  ...  technically thats still turning back the clock...
2        1310  ...  and youre the govt stop thinking about world m...
3        3390  ...                 soldier of japan who has dick head
4        4626  ...  youd be better off asking who doesnt think hes...

[5 rows x 6 columns]

In [126]:
df.to_csv('preprocess_data.csv')